.category__header__wrap {
	width: 100%;
	position: relative;
	padding: 25px 25px;
	background-color: #f2f2f2;
	@media screen and (min-width: $landscape-lg) {
		padding: 47px 0;
		min-height: 325px;
  }
}
.breadcrumbs {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	@media screen and (min-width: $mobile-sm) {
		justify-content: flex-start;
		margin-bottom: 25px;
  }
  @media screen and (min-width: $landscape-lg) {
		justify-content: center;
		margin-bottom: 40px;
  }
}
.breadcrumbs__item {
	display: block;
	position: relative;
	font-size: 16px;
	line-height: 1em;
	color: #666;
	margin-right: 30px;
	margin-bottom: 10px;
	&::before {
		content: '';
		position: absolute;
		width: 7px;
		height: 7px;
		border-right: 1px solid #666666;
		border-bottom: 1px solid #666666;
		transform: rotate(-45deg);
		top: 7px;
		right: -15px;
	}
	&:first-of-type {
		color: $main-color;
	}
	&:last-of-type {
		&::before {
			display: none;
		}
	}
}
.category__header {
	font-family: 'Merriweather', serif;
	font-size: 25px;
	line-height: 1.2em;
	margin-top: 0;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
	@media screen and (min-width: $landscape-sm) {
		font-size: 27px;
	}
	@media screen and (min-width: $landscape-lg) {
		font-size: 36px;
		max-width: 700px;
		margin: 0 auto;
		margin-bottom: 50px;
  }
}
.free__lesson__offer {
	width: 100%;
	max-width: 330px;
	margin: 0 auto;
	margin-bottom: 75px;
	padding: 20px 50px;
	background-color: #fff;
	border: 1px solid #f2f2f2;
	border-radius: 10px;
	text-align: center;
	@media screen and (min-width: $landscape-lg) {
		position: absolute;
		bottom: -135px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
  }
}
.free__lesson__header {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	line-height: 1.2em;
	text-align: center;
	margin-top: 0;
	margin-bottom: 25px;
}
.free__lesson__link {
	position: relative;
	text-align: center;
	font-size: 18px;
	line-height: 1em;
	color: $main-color;
	border-bottom: 1px dotted $main-color;
	&::before {
		content: '';
		position: absolute;
		width: 7px;
		height: 7px;
		border-right: 2px solid $main-color;
		border-bottom: 2px solid $main-color;
		transform: rotate(45deg);
		top: 8px;
		right: -15px;
	}
}
.category__wrap {
	padding: 25px;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 105px;
	}
}
.category__item {
	width: 100%;
	background-color: #f2f2f2;
	padding-top: 30px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	text-align: center;
	border-radius: 10px;
	@media screen and (min-width: $landscape-lg) {
			padding-top: 50px;
			margin-bottom: 50px;
	}
	&__language {
		font-size: 14px;
		line-height: 1.5em;
		color: #999;
		margin-bottom: 25px;
	}
	&__header {
		width: 100%;
		max-width: 250px;
		margin: 0 auto;
		margin-bottom: 25px;
		font-family: 'Merriweather', serif;
		font-size: 20px;
		line-height: 1.2em;
		text-align: center;
		@media screen and (min-width: $landscape-lg) {
			max-width: 130px;
		}
	}
}
.teacher__slider__wrap {
	width: 100%;
}
.teacher__slider__item {
	width: 100%;
	max-width: 310px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	position: relative;
	background-color: #f2f2f2;
	border-radius: 10px;
	padding: 27px 30px;
	min-height: 270px;
	@media screen and (min-width: $mobile-sm) and (max-width: 550px) {
		min-height: 175px;
	}
	&__name {
		width: 100%;
		max-width: 125px;
		font-family: 'Merriweather', serif;
		font-weight: bold;
		font-size: 18px;
		line-height: 1.3em;
		margin-bottom: 10px;
	}
	&__language,
	&__experience {
		font-size: 16px;
		line-height: 22px;
		color: #666;
		margin-bottom: 5px;
	}
	&__image {
		@media screen and (min-width: $mobile-sm) {
			display: none;
		}
		@media screen and (min-width: 550px) {
			display: block;
			position: absolute;
			top: -11px;
	    right: -15px;
			width: 215px;
			height: 281px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-repeat: no-repeat;
		}	
	}
}
.teacher__slider {
	.slick-prev,
		.slick-next {
			width: 0px;
			height: 0px;
		}
	@media screen and (min-width: $mobile-sm) {
		.slick-prev,
		.slick-next {
			width: 0px;
			height: 0px;
		}
		.slick-prev {
			left: -25px;
		}
		.slick-next {
			right: -5px;
		}
	}
}
.video__slider__wrap {
	width: 100%;
	padding: 45px 0;
}
.video__slider {
	width: 100%;
	margin-bottom: 75px;
}
.video__slider__item {
	width: 100%;
	max-width: 310px;
	margin: 0 auto;
	margin-bottom: 15px;
	position: relative;
	background-color: #f2f2f2;
	border-radius: 10px;
	padding: 5px;
	iframe {
		width: 100%;
		height: 190px;
		border-radius: 10px;
	}
}

.category__banner {
	width: 100%;
	position: relative;
	max-width: 1200px;
	padding: 30px 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	border-radius: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-color: rgba(0,0,0, 0.4);
		top: 0;
		left: 0;
		z-index: -1;
	}
	@media screen and (min-width: $landscape-lg) {
			padding: 60px 0 40px;
		}
	&__text {
		width: 100%;
		font-size: 26px;
		line-height: 1.2em;
		color: #fff;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
		@media screen and (min-width: $mobile-sm) {
			max-width: 800px;
		}
		@media screen and (min-width: $landscape-lg) {
			max-width: 470px;
		}
	}
	&__link {
		display: block;
    width: 100%;
    max-width: 205px;
    margin: 0 auto;
    background-color: #c00808;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1em;
    color: #fff;
    &:hover {
    	background-color: $main-hover;
    }
	}
}