body {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.top__adresses {
	background-color: #f2f2f2;
	padding-top: 5px;
	padding-bottom: 5px;
}
.top__adresses__text,
.top__language__text {
	font-size: 16px;
	line-height: 1em;
	color: #333;
	@media screen and (min-width: $mobile-sm) {
		text-align: center;
		margin-bottom: 10px;
	}
	@media screen and (min-width: $landscape-sm) {
		display: inline-block;
		vertical-align: middle;
		margin-right: 25px;
		margin-bottom: 0px;
	}
}
.top__language__text {
	@media screen and (min-width: $landscape-lg) {
		margin-right: 5px;
	}
	@media screen and (min-width: $desktop) {
		margin-right: 25px;
	}
}
.top__adress__select__list {
	position: relative;
	background-color: #fff;
	border-radius: 15px;
	@media screen and (min-width: $mobile-sm) {
		margin-bottom: 15px;
	}
	@media screen and (min-width: $landscape-sm) {
		display: inline-block;
		max-width: 530px;
		vertical-align: middle;
		margin-right: 25px;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 0;
	}
}
.sub-list {
	position: absolute;
	opacity: 0;
	top: -140px;
	left: 0;
	margin-right: 0;
	z-index: -1;
	transition: top 0.5s, opacity 0.6s ease-in-out;
	&.active {
		top: 52px;
		opacity: 1;
		z-index: 5;
		@media screen and (min-width: $mobile-sm) {
			top: 75px;
		}
		@media screen and (min-width: $landscape-sm) {
			top: 52px;
		}
	}
}
.select__list__item {
	@media screen and (min-width: $mobile-sm) {
		padding: 10px;
		text-align: center;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		border-radius: 15px;
		font-size: 16px;
		color: #333;
	}
	@media screen and (min-width: $landscape-sm) {
		text-align: left;
		width: 100%;
		min-width: 500px;
		padding: 15px;
	}
	span {
		position: relative;
		@media screen and (min-width: $mobile-sm) {
			display: inline-block;
			width: 100%;
			padding-left: 0;
		}
		@media screen and (min-width: $landscape-sm) {
			padding-left: 40px;
			width: auto;
		}
	}
	.adress {
		&::before {
			content: '';
			position: absolute;
			width: 12px;
			height: 17px;
			background-image: url(../img/top-adress-mark.png);
			background-position: center;
			background-size: cover;
			top: 2px;
			left: 35px;
			@media screen and (min-width: $landscape-sm) {
				top: 2px;
				left: 15px;
			}
		}
	}
	.phone {
		&::before {
			content: '';
			position: absolute;
			width: 14px;
			height: 16px;
			background-image: url(../img/top-phone-icon.png);
			background-position: center;
			background-size: cover;
			top: 3px;
			left: 35px;
			@media screen and (min-width: $landscape-sm) {
				top: 3px;
			left: 15px;
			}
		}
	}
}
.trigger__item {
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 0px;
		padding-right: 30px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 18px;
		height: 18px;
		background-image: url(../img/select-menu-icon.png);
		background-position: center;
		background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
	}
}
/*select widjet*/
.ui-widget {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
}
.ui-selectmenu-button.ui-button {
	text-align: left;
  white-space: normal;
  @media screen and (min-width: $mobile-sm) {
  	display: block;
  	width: 100%;
  	max-width: 300px;
		margin: 0 auto;
		border: none;
    background: #fff;
    font-weight: 500;
    color: #333;
    font-size: 16px;
    border-radius: 15px;
    outline: none;
    transition: all 0.2s ease;
	}
	@media screen and (min-width: $landscape-sm) {
		display: inline-block;
		vertical-align: middle;
		max-width: 530px;
		padding-top: 11px;
		padding-bottom: 11px;
	}
}
.ui-selectmenu-button.ui-button.ui-selectmenu-button-open {
	border-radius: 15px 15px 0px 0px;
}
.ui-selectmenu-menu .ui-menu {
	width: 100%;
	// @media screen and (min-width: $mobile-sm) {
	// 	max-width: 290px;
	// }
	// @media screen and (min-width: $landscape-sm) {
	// 	max-width: 530px;
	// }
}
.ui-menu .ui-state-active, .ui-menu .ui-state-focus {
	margin: 0;
}
.ui-menu .ui-menu-item-wrapper {
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	transition: all 0.2s ease;
	font-size: 16px;
	color: #333;
	@media screen and (min-width: $landscape-sm) {
		padding-left: 15px;
	}
}
.ui-widget.ui-widget-content {
	border: none;
}
.ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
	background: #f2f2f2;
	color: #333;
	border: none;
}
.ui-icon {
	width: 3px;
	height: 15px;
}
.ui-button .ui-icon {
	background-image: url(../img/select-menu-icon.png);
	background-position: center;
	background-size: contain;
}
.ui-selectmenu-icon.ui-icon {
	@media screen and (min-width: $mobile-sm) {
		margin-top: 5px;
	}
	@media screen and (min-width: $landscape-sm) {
		margin-top: 2px;
	}
}
.ui-button:focus .ui-icon, .ui-button:hover .ui-icon, .ui-state-focus .ui-icon, .ui-state-hover .ui-icon {
	background-image: url(../img/select-menu-icon.png);
	background-position: center;
	background-size: contain;
}
#language-list-button {
	position: relative;
	@media screen and (min-width: $mobile-sm) {
		max-width: 100px;
		text-align: center;
		padding-left: 40px;
	}
	@media screen and (min-width: $landscape-lg) {
		max-width: 90px;
		text-align: center;
		padding-left: 35px;
	}
	@media screen and (min-width: $desktop) {
		max-width: 100px;
		text-align: center;
		padding-left: 40px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 18px;
		height: 18px;
		background-image: url(../img/language-icon.png);
		background-position: center;
		background-repeat: no-repeat;
    left: 12px;
    @media screen and (min-width: $mobile-sm) {
    	top: 8px;
    }
    @media screen and (min-width: $landscape-sm) {
			top: 12px;
    }
	}
}

.top__logo__wrap {
	@media screen and (min-width: $mobile-sm) {
		padding: 15px 0;
  }
  @media screen and (min-width: $desktop) {
		padding: 30px 0;
		border-bottom: 1px solid #dfdfdf;
  }
}
.top__logo__block {
	@media screen and (min-width: $mobile-sm) {
		display: block;
		margin-bottom: 15px;
		img {
			display: block;
			width: 100%;
			max-width: 170px;
			margin: 0 auto;
		}
	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 0;
		img {
			margin: 0;
		}
	}
}
.top__menu__wrap {
	@media screen and (min-width: $desktop) {
		border-bottom: 1px solid #dfdfdf;
  }
}
.pop__up__links__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	@media screen and (min-width: $mobile-sm) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	@media screen and (min-width: $landscape-lg) {
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
	}
}
.pop__up__link__item {
	display: block;
	position: relative;
	width: 100%;
	background-color: #f2f2f2;
	padding-top: 14px;
	padding-bottom: 14px;
	text-align: center;
	font-size: 16px;
	color: #333;
	border-radius: 25px;
	&:hover {
		background-color: #e1e1e1;
	}
	&::before {
		content: '';
		position: absolute;
		background-position: center;
		background-size: cover;
		@media screen and (min-width: $landscape-lg) {
			display: none;
		}
		@media screen and (min-width: $desktop) {
			display: block;
		}
	}
	@media screen and (min-width: $mobile-sm) {
		margin-bottom: 15px;
	}
	@media screen and (min-width: $landscape-sm) {
		max-width: 325px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	@media screen and (min-width: $landscape-lg) {
		width: 100%;
		margin: 0;
		margin-right: 25px;
	}
	@media screen and (min-width: $desktop) {
		margin-left: 25px;
	}
}
.callback--order {
	background-color: $main-color;
	color: #fff;
	@media screen and (min-width: $desktop) {
		max-width: 255px;
		padding-left: 30px;
	}
	&:hover {
		background-color: $main-hover;
	}
	&::before {
		width: 14px;
		height: 16px;
		background-image: url(../img/order-phone-icon.png);
    @media screen and (min-width: $mobile-sm) {
    	top: 15px;
    	left: 20px;
    }
    @media screen and (min-width: $mobile) {
			left: 40px;
    }
    @media screen and (min-width: $desktop) {
    	left: 20px;
    }
	}
}
.translate-order {
	@media screen and (min-width: $desktop) {
		max-width: 205px;
		padding-left: 40px;
	}
	&::before {
		width: 26px;
		height: 20px;
		background-image: url(../img/translate-order-icon.png);
    @media screen and (min-width: $mobile-sm) {
    	top: 16px;
    	left: 40px;
    }
    @media screen and (min-width: $mobile) {
    	left: 60px;
    }
    @media screen and (min-width: $desktop) {
    	top: 12px;
    	left: 20px;
    }
	}
}
.free--lesson {
	@media screen and (min-width: $mobile-sm) {
		padding-left: 25px;
	}
	@media screen and (min-width: $desktop) {
		max-width: 300px;
		padding-left: 30px;
	}
	&::before {
		width: 20px;
		height: 19px;
		background-image: url(../img/free-lesson-icon.png);
    @media screen and (min-width: $mobile-sm) {
    	top: 13px;
    	left: 10px;
    }
    @media screen and (min-width: $mobile) {
    	left: 20px;
    }
    @media screen and (min-width: $desktop) {
    	left: 20px;
    }
	}
}
.menu__trigger {
	position: fixed;
	top: 0;
	right: 0;
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 0;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 1em;
	background-color: $main-color;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: 100;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: $main-hover;
	}
}
.top__nav__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	> li {
		position: relative;
		@media screen and (min-width: $landscape-lg) {
			padding: 15px 0;
			&:hover {
				.top__subnav__list {
					transform: translate(-50%, 0);
	    		opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	@media screen and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
		display: none;
		width: 100%;
		padding-top: 60px;
		position: fixed;
		top: 0;
		right: 0;
		background-color: #fff;
		z-index: 50;
		overflow: auto;
		height: 100%;
	}
	@media screen and (min-width: $landscape-lg) {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}
.top__nav__item {
	position: relative;
	width: auto;
	font-size: 16px;
	color: #333;
	line-height: 1.5em;
	@media screen and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
		display: block;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		margin-bottom: 5px;
		&:hover {
			background-color: $main-color;
			color: #fff;
		}
	}
	@media screen and (min-width: $landscape-lg) {
		padding-right: 40px;
		margin-bottom: 0;
		&:hover {
			color:  $main-color;
		}
	}
	&.spec-item {
		@media screen and (min-width: $landscape-lg) {
			display: block;
			min-width: 85px;
			text-align: center;
			background-color: $main-color;
			color: #fff;
			border-radius: 25px;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-right: 0;
		}
	}
}
.sub-menu-link {
	&::after {
			content: '';
			position: absolute;
			width: 13px;
    	height: 8px;
			background-image: url(../img/down-arrow.svg);
			background-position: center;
			background-size: cover;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			@media screen and (min-width: $landscape-lg) {
				top: 60%;
			}
		}
		@media screen and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
			&:hover {
				&::after {
					background-image: url(../img/down-arrow_white.svg);
				}
			}
		}
}
.sub-menu-link {
	
}
.top__subnav__list {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
	@media screen and (min-width: $landscape-lg) {
		display: block;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transform: translate(-50%, 20px);
		transition: all 0.3s linear;
		top: 50px;
		left: 50%;
		width: 210px;
		border-radius: 0px 20px;
		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 7.5px 10px 7.5px;
			border-color: transparent transparent $main-color transparent;
			top: -10px;
			left: 100px;
		}
	}
}
.top__subnav__item {
	@media screen and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
		display: block;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		margin-bottom: 5px;
		&:hover {
			background-color: $main-color;
			color: #fff;
		}
	}
	@media screen and (min-width: $landscape-lg) {
		display: block;
		width: 100%;
		background-color: $main-color;
		color: #fff;
		padding: 17px 0;
		text-align: center;
		border-bottom: 1px solid #c94949;
		&:hover {
			background-color: $main-hover;
		}
	}
}
.top__subnav__list {
	li {
		&:last-child a {
			border-radius: 0px 0px 15px 15px;
			border-bottom: none;
		}
	}
}
/*Mobile hamburger*/
.hamburger {
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible;
  @media screen and (min-width: $landscape-lg) {
		display: none;
	}
}

.hamburger-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*Slider soc icons*/
.soc__icons__wrap {
	width: 100%;
	max-width: 200px;
	display: flex;
	position: absolute;
	@media screen and (min-width: $mobile-sm) {
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		justify-content: space-around;
	}
	@media screen and (min-width: $landscape-sm) {
		position: absolute;
		top: 25px;
		bottom: auto;
		right: 35px;
		left: auto;
		transform: none;
		max-width: 50px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
.soc__icons__item {
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	font-size: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 22px;
	@media screen and (min-width: $landscape-sm) {
		margin-bottom: 5px;
	}
	&:hover {
		background-color: rgba(0,0,0,1);
	}
}
.fb {
	background-image: url(../img/facebook.svg);
}
.vk {
	background-image: url(../img/vk-social-logotype.svg);
}
.ok {
	background-image: url(../img/odnoklassniki-logo.svg);
}
/*Slider soc icons END*/

/*Main slider*/
.main__slider__wrap {
	position: relative;
}
.main__slider__item {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@media screen and (min-width: $mobile-sm) {
		min-height: 285px;
	}
	@media screen and (min-width: $landscape-sm) {
		min-height: 450px;
	}
	@media screen and (min-width: $desktop) {
		min-height: 570px;
	}
}
.main__slider__item__content {
	@media screen and (min-width: $desktop) {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
}
.some__content__box {
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	@media screen and (min-width: $mobile-sm) {
		max-width: 300px;
		margin: 0 auto;
		margin-top: 15px;
		margin-top: 95px;
		margin-bottom: 95px;
		padding: 25px 20px;
	}
	@media screen and (min-width: $landscape-sm) {
		max-width: 400px;
		padding: 30px 35px;
		margin-top: 55px;

	}
	@media screen and (min-width: $desktop) {
		max-width: 430px;
		padding: 45px 40px;
		margin: 0;
		margin-top: 135px;
	}
}
.anyone__title {
	width: 100%;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: $main-color;
	margin-top: 0;
	@media screen and (min-width: $mobile-sm) {
		font-size: 30px;
		margin-bottom: 20px;
	}
	@media screen and (min-width: $landscape-sm) {
		font-size: 40px;
		margin-bottom: 25px;
	}
	@media screen and (min-width: $desktop) {
		font-size: 50px;
		margin-bottom: 35px;
	}
}
.anyone__text {
	width: 100%;
	font-size: 18px;
	line-height: 1.5em;
	color: #666;
	@media screen and (min-width: $mobile-sm) {
		margin-bottom: 40px;
	}
	@media screen and (min-width: $landscape-sm) {
		margin-bottom: 50px;
	}
	@media screen and (min-width: $desktop) {
		margin-bottom: 75px;
	}
}
.anyone__link {
	font-size: 18px;
	color: $main-color;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

/*Custumize slick arrows*/
.slick-next, 
.slick-prev {
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	font-size: 0;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	&:hover {
		background-color: rgba(0,0,0,0.75);
	}
	&::before {
		content: '';
		position: absolute;
		width: 50px;
		height: 50px;
		font-size: 0;
		line-height: 0;
		background-image: url(../img/slick-arrow.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		top: 0;
		left: 0;
		transition: all 0.3s ease-in-out;
	}
}
.slick-prev {
	&::before {
		transform: rotate(180deg);
	}
	@media screen and (min-width: $mobile-sm) {
		left: 25%;
    top: 45px;
	}
	@media screen and (min-width: $landscape-sm) {
		top: auto;
		bottom: 20px;
		left: auto;
		right: 150px;	
	}
	@media screen and (min-width: $desktop) {
			bottom: 25px;
			right: 430px;
	}
}
.slick-next {
	@media screen and (min-width: $mobile-sm) {
		right: 25%;
    top: 45px;
	}
	@media screen and (min-width: $landscape-sm) {
		top: auto;
		bottom: 20px;
		right: 75px;
	}
	@media screen and (min-width: $desktop) {
			bottom: 25px;
			right: 370px;
	}
}
/*Custumize slick arrows END*/
/*Main slider END*/

/*Main content*/
.main__content__wrap {
	@media screen and (min-width: $mobile-sm) {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	@media screen and (min-width: $desktop) {
		padding-top: 55px;
		padding-bottom: 55px;
	}
}
.main__languages__list__wrap {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	@media screen and (min-width: $mobile-sm) {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	@media screen and (min-width: $landscape-lg) {
		justify-content: flex-start;
	}
}
.language__list__item {
	display: block;
	position: relative;
	background-color: #fff;
	border-radius: 25px;
	text-align: center;
	font-size: 16px;
	line-height: 1em;
	color: #333;
	padding: 15px 17px 15px 50px;
	border: 1px solid #dfdfdf;
	&:hover {
		background-color: #f2f2f2;
	}
	&::before {
		content: '';
		position: absolute;
		width: 24px;
		height: 19px;
		background-position: center;
		background-size: cover;
		top: 15px;
    left: 15px;
	}
	@media screen and (min-width: $mobile-sm) {
		width: 100%;
		max-width: 150px;
		margin-bottom: 15px;
	}
	@media screen and (min-width: $landscape-lg) {
		width: auto;
		margin-right: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.en {
	&::before {
		background-image: url(../img/en-flag.png);
	}
}
.fr {
	&::before {
		background-image: url(../img/fr-flag.png);
	}
}
.ger {
	&::before {
		background-image: url(../img/ger-flag.png);
	}
}
.spanish {
	&::before {
		background-image: url(../img/spanish-flag.png);
	}
}
.ital {
	&::before {
		background-image: url(../img/ital-flag.png);
	}
}
.chinese {
	&::before {
		background-image: url(../img/chinese-flag.png);
	}
}
.rus {
	&::before {
		background-image: url(../img/ru-flag.png);
	}
}

/*Service block and items*/
.service__block__wrap {
	width: 100%;
	position: relative;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	@media screen and (min-width: $mobile-sm) {
		justify-content: space-around;
	}
	@media screen and (min-width: $desktop) {
		justify-content: flex-start;
	}
}
.block__title {
	width: 100%;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 36px;
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 30px;
	@media screen and (min-width: $desktop) {
		margin-bottom: 50px;
	}
}
.service__item {
	width: 100%;
	min-height: 200px;
	position: relative;
	padding: 20px 25px;
	border-radius: 10px;
	background-color: #f2f2f2;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 30px;
	&__language {
		width: 100%;
		font-size: 18px;
		line-height: 1.5em;
		color: #666;
		margin-bottom: 20px;
	}
	&__title {
		display: block;
		width: 100%;
		font-family: 'Merriweather', serif;
		font-size: 24px;
		line-height: 1.3em;
		font-weight: bold;
		color: #000;
		margin-top: 0;
		margin-bottom: 30px;
	}
	&__age__list {
		width: 100%;
		max-width: 345px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 20px;
		@media screen and (min-width: $mobile-sm) {
			justify-content: flex-start;
		}
		@media screen and (min-width: $landscape-sm) {
			margin-top: 75px;
			justify-content: space-between;
		}
		&__item {
			display: block;
			position: relative;
			width: 100%;
			max-width: 250px;
			padding: 13px 10px 13px 20px;
			margin-bottom: 20px;
			border-radius: 25px;
			background-color: transparent;
			font-size: 16px;
			line-height: 1em;
			color: #333;
			border: 1px solid #999;
			@media screen and (min-width: $landscape-sm) {
				max-width: 160px;
			}
			&::before {
				content: '';
				position: absolute;
				width: 24px;
				height: 24px;
				border: 2px solid $main-color;
				border-radius: 50%;
				background-color: transparent;
				top: 8px;
    		right: 10px;
			}
			&::after {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				border-right: 2px solid $main-color;
				border-bottom: 2px solid $main-color;
				top: 16px;
		    right: 20px;
		    transform: rotate(-45deg);
			}
			&:hover {
				color: #fff;
				background-color: $main-color;
				border-color: $main-color;
				&::before {
					border-color: #fff;
				}
				&::after {
					border-color: #fff;
				}
			}
		}
	}
}
.--kids__education {
	max-width: 670px;
	@media screen and (min-width: $mobile-sm) {
		background-image: url(../img/kids-list-circle-bg.png);
		background-size: contain;
		background-position: 430px -100px;
	}
	@media screen and (min-width: $landscape-sm) {
		&::before {
			content: '';
			position: absolute;
			width: 225px;
			height: 351px;
			background-image: url(../img/kid-bg.png);
			background-position: center;
			background-size: cover;
			top: -10px;
			right: -10px;
		}
	}
	@media screen and (min-width: $desktop) {
			margin-right: 30px;
	}
}
.--adult__education {
	@media screen and (min-width: $mobile-sm) {
		background-image: url(../img/adult-list-circle-bg.png);
		background-size: contain;
		background-position: 360px 70px;
	}
	@media screen and (min-width: $desktop) {
		max-width: 470px;
		background-position: 200px 60px;
		&::before {
			content: '';
			position: absolute;
			width: 213px;
			height: 377px;
			background-image: url(../img/adult-bg.png);
			background-position: center;
			background-size: cover;
			top: -36px;
    	right: 10px;
		}
	}
}
.--abroad__education,
.--corporate__education {
	@media screen and (min-width: $desktop) {
		max-width: 570px;
	}
}
.--abroad__education {
	@media screen and (min-width: $landscape-sm) {
		background-image: url(../img/abroad-education-bg.png);
		background-position: center bottom;
	}
	@media screen and (min-width: $desktop) {
		margin-right: 30px;
	}
}
.--corporate__education {
	@media screen and (min-width: $landscape-sm) {
		background-image: url(../img/corp-education-bg.png);
	}
}

.testing__center__item {
	width: 100%;
	max-width: 570px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 25px;
	@media screen and (min-width: $mobile-sm) {
		justify-content: space-around;
	}
	@media screen and (min-width: $desktop) {
		max-width: 570px;
		justify-content: flex-start;
		&:nth-of-type(odd) {
			margin-right: 30px;
		}
	}
	&__image {
		width: 270px;
		height: 250px;
		border-radius: 10px;
		background-position: center;
		background-size: cover;
		margin-bottom: 30px;
		@media screen and (min-width: $desktop) {
			margin-right: 30px;
		}
	}
	&__text {
		width: 100%;
		font-size: 16px;
		line-height: 1.5em;
		color: #666;
		@media screen and (min-width: $mobile-sm) {
			max-width: 400px;
			margin-bottom: 30px;
		}
		@media screen and (min-width: $desktop) {
			max-width: 270px;
		}
	}
	&__link {
		display: block;
		width: 100%;
		max-width: 205px;
		background-color: $main-color;
		border-radius: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
		font-size: 16px;
		line-height: 1em;
		color: #fff;
		&:hover {
			background-color: $main-hover;
		}
	}
}
/*Service block and items END*/

/*Learn russia block*/
.learn__russia__block {
	position: relative;
	background-image: url(../img/learn-russia-bg.jpg);
	background-position: center;
	background-size: cover;
	@media screen and (min-width: $landscape-sm) {
			background-attachment: fixed;
			z-index: -1;
			min-height: 450px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, 0.3);
		top: 0;
		left: 0;
		z-index: -1;
	}
}
.learn__russia__item {
	width: 100%;
	max-width: 700px;
	border-radius: 25px;
	background-image: url(../img/travel-item-bg.jpg);
	background-position: center;
	background-size: cover;
	@media screen and (min-width: $mobile-sm) {
			padding: 60px 40px 60px 24px;
	}
	@media screen and (min-width: $landscape-sm) {
		position: absolute;
		padding: 100px 80px 100px 48px;
		top: 50px;
		left: 150px;
		box-shadow: -14px 14px 30px 0px rgba(0, 0, 0, 0.3);
	}
	@media screen and (min-width: $desktop) {
		left: 315px;
	}
	h2 {
		font-family: 'Merriweather', serif;
		font-size: 30px;
		line-height: 1.3em;
		color: #fff;
		margin-top: 0;
		margin-bottom: 30px;
		@media screen and (min-width: $landscape-sm) {
				font-size: 60px;
				margin-bottom: 40px;
		}
	}
	p {
		font-size: 21px;
		line-height: 1.5em;
		color: #fff;
		margin-top: 0;
		margin-bottom: 25px;
		@media screen and (min-width: $landscape-sm) {
			margin-bottom: 50px;
		}
	}
	a {
		display: block;
    width: 100%;
    max-width: 205px;
    background-color: #c00808;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1em;
    color: #fff;
    &:hover {
    	background-color: $main-hover;
    }
	}
}
/*Learn russia block END*/

/*Partnership block*/
.partnership__block {
	@media screen and (min-width: $landscape-sm) {
		padding-top: 210px;
	}
}
.partnership__block__item {
	margin-bottom: 30px;
	@media screen and (min-width: $mobile-sm) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	@media screen and (min-width: $landscape-lg) {
		display: block;
	}
}
.partnership__block__item__logo {
	width: 100%;
	max-width: 230px;
	height: 125px;
	margin-bottom: 20px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.cam-logo {
	max-width: 300px;
}
.partnership__block__item__descr {
	width: 100%;
	max-width: 320px;
	font-size: 16px;
	line-height: 1.5em;
	color: #666;
	margin-top: 0px;
	margin-bottom: 20px;
}
/*Partnership block END*/

/*Блок с акциями*/

.discounts__block__wrap {
	width: 100%;
	background-color: #f2f2f2;
	padding: 45px 0;
}

.discount__item {
	width: 100%;
	margin-bottom: 25px;
	&__title {
		font-family: 'Merriweather', serif;
		font-size: 22px;
		line-height: 1.5em;
		margin-top: 0;
		margin-bottom: 0px;
		color: #fff;
		border-radius: 10px 10px 0 0;
		padding: 40px 80px 30px 30px;
		background: linear-gradient(55deg,#8c0053 0,#c90027 100%);
		@media screen and (min-width: $landscape-lg) {
			min-height: 240px;
		}
	}
	&__descr {
		background-color: #fff;
		padding: 30px 25px 30px 30px;
		border-radius: 0px 0px 10px 10px;
		@media screen and (min-width: $landscape-lg) {
			min-height: 240px;
		}
		p {
			font-size: 16px;
			line-height: 1.5em;
			color: #666;
			margin-top: 0;
			margin-bottom: 30px;
		}
		a {
			font-size: 16px;
			color: $main-color;
			text-decoration: underline;
		}
	}
}
/*Блок с акциями END*/

/*Отзывы*/
.reviews__slider__wrap {
	width: 100%;
	padding: 55px 0;
	margin-bottom: 10px;
	&.--inner__category {
		background-color: #f8f8f8;
	}
}
.reviews__slider {
	width: 100%;
}
.reviews__slider__item {
	width: 100%;
	position: relative;
	max-width: 300px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	&__image {
		width: 105px;
		height: 105px;
		border-radius: 50%;
		border: 2px solid #ccc;
		margin-right: 15px;
		margin-bottom: 25px;
		background-position: center;
		background-size: cover;
	}
	&__name {
		width: 100%;
		max-width: 140px;
		font-family: 'Merriweather', serif;
		font-weight: bold;
		font-size: 18px;
		line-height: 1.5em;
		margin-top: 0;
		margin-bottom: 15px;
	}
	&__direction {
		width: 100%;
		max-width: 140px;
		font-size: 14px;
		line-height: 1.5em;
		color: #666;
		margin-top: -70px;
    margin-left: 120px;
	}
	&__text {
		width: 100%;
		font-size: 16px;
		line-height: 1.5em;
		color: #666;
		margin-top: 0;
	}
}

.reviews__slider,
.teacher__slider,
.video__slider {
	.slick-prev,
	.slick-next {
		width: 0;
		height: 20px;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
	}
	.slick-prev {
		left: 30px;
		@media screen and (min-width: $landscape-sm) {
			left: -30px;
		}
		&::before {
			width: 20px;
			height: 20px;
			border-left: 5px solid #000;
			border-bottom: 5px solid #000;
			opacity: 1;
			background-image: none;
			transform: rotate(45deg);
		}
	}
	.slick-next {
		right: 30px;
		@media screen and (min-width: $landscape-sm) {
			right: 0px;
		}
		&::before {
			width: 20px;
			height: 20px;
			border-right: 5px solid #000;
			border-bottom: 5px solid #000;
			opacity: 1;
			background-image: none;
			transform: rotate(-45deg);
		}
	}
}
.reviews__slider,
.video__slider {
	.slick-prev,
	.slick-next {
		@media screen and (min-width: $mobile-sm) and (max-width: 550px) {
			top: auto;
			bottom: -50px;
		}
	}
	.slick-prev {
		@media screen and (min-width: $mobile-sm) and (max-width: 550px) {
			left: 40%;
		}
	}
	.slick-next {
		@media screen and (min-width: $mobile-sm) and (max-width: 550px) {
			right: 40%;
		}
	}
}
.slick-slide {
	outline: none;
}
/*Отзывы END*/

.bottom__request__form__wrap {
	width: 100%;
	position: relative;
	display: flex;
	@media screen and (min-width: $mobile-sm) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	@media screen and (min-width: $desktop) {
		flex-direction: row;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.left__block {
		@media screen and (min-width: $mobile-sm) {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 35px 25px;
			background-image: url(../img/form-left-block-bg.png);
			background-position: center;
			background-size: cover;
			z-index: 1;
			&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(192, 8, 8, 0.7);
					top: 0;
					left: 0;
					z-index: -1;
			}
		}
		@media screen and (min-width: $desktop) {
				max-width: 50%;
				align-items: flex-end;
				padding-right: 125px;
		}
		h2 {
				width: 100%;
				max-width: 350px;
				font-family: 'Merriweather', serif;
				font-size: 40px;
				line-height: 1.5em;
				color: #fff;
				margin-bottom: 35px;
				text-align: center;
			}
			p {
				width: 100%;
				max-width: 350px;
				font-size: 18px;
				color: #fff;
				line-height: 1.5em;
				margin-top: 0;
				margin-bottom: 25px;
				text-align: center;
			}
	}
}
.request__form {
	width: 100%;
	background-color: #f2f2f2;
	padding: 30px 15px;
	@media screen and (min-width: $desktop) {
		max-width: 50%;
		align-items: flex-end;
		padding-left: 130px;
		padding-top: 60px;
	}
	input {
		-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
		display: block;
		width: 100%;
		max-width: 370px;
		padding-top: 11px;
		padding-bottom: 11px;
		text-align: center;
		font-size: 16px;
		line-height: 1em;
		color: #999999;
		background-color: #ffffff;
		border: 1px solid #cccccc;
		border-radius: 10px;
		outline: none;
		box-shadow: none;
		&::-webkit-input-placeholder { 
			color: #999999;
		}
		&::-moz-placeholder { 
			color: #999999;
		}
		&:-ms-input-placeholder { 
			color: #999999;
		}
		&:-moz-placeholder { 
			color: #999999;
		}
		@media screen and (min-width: $mobile-sm) {
			margin: 0 auto;
			margin-bottom: 30px;
		}
		@media screen and (min-width: $desktop) {
			margin: 0;
			margin-bottom: 30px;
		}
	}
	.ui-selectmenu-button.ui-button {
		display: block;
		max-width: 370px;
		padding-top: 11px;
		padding-bottom: 11px;
		text-align: center;
		font-size: 16px;
		line-height: 1em;
		color: #999999;
		background-color: #ffffff;
		border: 1px solid #cccccc;
		border-radius: 10px;
		outline: none;
		margin-bottom: 30px;
		@media screen and (min-width: $mobile-sm) {
			margin: 0 auto;
			margin-bottom: 30px;
		}
		@media screen and (min-width: $desktop) {
			margin: 0px;
			margin-bottom: 30px;
		}
	}
	.ui-selectmenu-menu .ui-menu {
		max-width: 100%;
		@media screen and (min-width: $mobile-sm) {
			max-width: 100%;
		}
	}
	.ui-selectmenu-icon.ui-icon {
		@media screen and (min-width: $mobile-sm) {
			margin-top: 0;
		}
	}
	button {
		display: block;
    width: 100%;
    max-width: 205px;
		background-color: #c00808;
		border: none;
		outline: none;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1em;
		color: #fff;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&:hover {
			background-color: $main-hover;
		}
		@media screen and (min-width: $mobile-sm) {
			margin: 0 auto;
			margin-bottom: 30px;
		}
		@media screen and (min-width: $desktop) {
			margin-left: 75px;
			margin-bottom: 30px;
		}
	}
}
/*Main content END*/

/*Footer*/
footer {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
}
.footer__logo {
	display: block;
	width: 100%;
	max-width: 170px;
	margin: 0 auto;
	margin-bottom: 30px;
	img {
		width: 100%;
	}
}
.footer__social__wrap {
	width: 100%;
	max-width: 170px;
	margin: 0 auto;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__social__item {
	width: 50px;
	height: 50px;
	background-color: #f8f8f8;
	border-radius: 10px;
	font-size: 0;
	padding: 14px 10px;
	svg {
		width: 100%;
		height: 100%;
	}
}
.footer__link__item {
	display: block;
	font-size: 16px;
	line-height: 1.5em;
	color: #000000;
	margin-bottom: 15px;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
	@media screen and (min-width: $mobile-sm) and (max-width: $landscape-sm) {
		text-align: center;
		&:last-child {
			margin-bottom: 25px;
		}
	}
}
.footer__city {
	font-size: 18px;
	color: $main-color;
	font-weight: bold;
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 15px;
	@media screen and (min-width: $mobile-sm) and (max-width: $landscape-sm) {
		text-align: center;
	}
}
.footer__adress {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 1.5em;
	color: #000000;
	margin-top: 0;
	margin-bottom: 15px;
	@media screen and (min-width: $mobile-sm) and (max-width: $landscape-sm) {
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
		span {
			display: block;
			width: 100%;
			margin-bottom: 10px;
		}
	}
	@media screen and (min-width: $landscape-sm) and (max-width: $landscape-lg) {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
	}
}
.copy__privacy__block {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 18px;
	padding-bottom: 18px;
	background-color: #f2f2f2;
	@media screen and (min-width: $mobile-sm) and (max-width: 560px) {
		flex-direction: column;
	}
	p {
		width: 50%;
		font-size: 14px;
		line-height: 1em;
		color: #666666;
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
		@media screen and (min-width: $mobile-sm) and (max-width: 560px) {
			width: 100%;
			&:first-of-type {
				margin-bottom: 15px;
			}
		}
		a {
			color: #666666;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
/*Footer END*/

/*Forms*/
.underlay {
	display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  opacity: 1;
  cursor: pointer;
  transition: opacity .3s ease;
  z-index: 10;
}
.popup__form__wrap {
	display: none;
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -25%);
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
	padding: 30px 20px;
	box-shadow: 0px 6px 10px 0px rgba(63, 63, 63, 0.1);
	z-index: 15;
	@media screen and (min-width: $mobile-sm) {
		max-width: 350px;
		overflow: auto;
		height: 100%;
		max-height: 80%;
	}
	@media screen and (min-width: $desktop) {
		&.translate__popup {
			height: auto;
			max-height: 100%;
			top: 26%;
			overflow: hidden;
		}
	}
	input {
		-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
		display: block;
		width: 100%;
		max-width: 310px;
		padding-top: 11px;
		padding-bottom: 11px;
		margin: 0 auto;
		margin-bottom: 20px;
		border-radius: 10px;
		border: 1px solid #ccc;
		font-size: 16px;
		line-height: 1em;
		color: #999;
		text-align: center;
		outline: none;
		box-shadow: none;
		&.input-error {
			border-color: #dd7878;
		}
	}
	input[type="file"] {
		display: none;
		+ label {
			display: inline-block;
			width: 160px;
			padding-top: 11px;
			padding-bottom: 11px;
			vertical-align: middle;
			font-size: 16px;
			line-height: 1em;
			color: #333;
			background-color: #f2f2f2;
			border-radius: 25px;
			text-align: center;
			margin-right: 10px;
			margin-bottom: 20px;
			cursor: pointer;
			+ span {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 20px;
				font-size: 16px;
				line-height: 1em;
				color: #999;
			}
		}
	}
	textarea {
		display: block;
		width: 100%;
		max-width: 310px;
		padding-top: 15px;
		min-height: 140px;
		margin: 0 auto;
		margin-bottom: 20px;
		border-radius: 10px;
		border: 1px solid #ccc;
		font-size: 16px;
		line-height: 1em;
		color: #999;
		text-align: center;
		outline: none;
	}
	button {
    display: block;
    width: 100%;
    max-width: 205px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #c00808;
    border: none;
    outline: 0;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1em;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
	}
	.ui-selectmenu-button.ui-button {
		display: block;
		width: 100%;
		max-width: 310px;
		padding-top: 11px;
		padding-bottom: 11px;
		margin: 0 auto;
		margin-bottom: 20px;
		border-radius: 10px;
		border: 1px solid #ccc;
		font-size: 16px;
		line-height: 1em;
		color: #999;
		text-align: center;
		.ui-selectmenu-text {
			margin-right: 0;
		}
	}
	.ui-button .ui-icon {
		width: 9px;
		height: 6px;
		margin-top: 6px;
		background-image: url(../img/select-menu-form-arrow.png);
		background-size: contain;
	}
}
.popup__form__header {
	width: 100%;
	font-family: 'Merriweather', serif;
	font-size: 24px;
	line-height: 1em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 35px;
}
.popup__form__file__text {
	width: 100%;
	max-width: 270px;
	text-align: center;
	font-size: 16px;
	line-height: 1.2em;
	color: #999;
	margin: 0 auto;
	margin-bottom: 20px;
}
.popup__afterform__wrap {
	display: none;
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 350px;
	min-height: 250px;
	border-radius: 10px;
	background-color: #fff;
	padding: 30px 20px;
	padding-top: 90px;
	box-shadow: 0px 6px 10px 0px rgba(63, 63, 63, 0.1);
	z-index: 15;
	div {
		width: 100%;
		font-family: 'Merriweather', serif;
		font-size: 24px;
		line-height: 1.5em;
		font-weight: bold;
		text-align: center;
	}
}
.popup__form__wrap {
	.close-small {
		background: 0 0;
    border: 0;
    border-radius: 0;
    color: #555;
    cursor: pointer;
    height: 44px;
    margin: 0;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    z-index: 10;
    svg {
    	fill: transparent;
	    opacity: .8;
	    stroke: currentColor;
	    stroke-width: 1.5;
	    transition: stroke .1s;
    }
	}
}
/*Forms END*/
