.--custom-bg {
	background-color: #fff;
	position: relative;
	@media screen and (min-width: $desktop) {
		&::after {
			content: '';
			position: absolute;
			width: 180px;
			height: 180px;
			border-radius: 50%;
			background-color: #fff;
			border: 20px solid #f8f8f8;
			top: 100px;
    	right: 75px;
    	@media screen and (min-width: 1920px) {
    		right: 17%;
    	}
		}
	}
}

.kids__free__lesson__offer {
	width: 100%;
	max-width: 770px;
	margin: 0 auto;
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 20px 40px;
	background-color: $main-color;
	border-radius: 10px;
	z-index: 10;
	@media screen and (min-width: $landscape-lg) {
		justify-content: flex-start;
		margin-bottom: 30px;
	}
}
.kids__free__lesson__header {
	width: 100%;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 20px;
	line-height: 1em;
	color: #fff;
	margin-top: 0;
	margin-bottom: 30px;
	@media screen and (min-width: $landscape-lg) {
		max-width: 425px;
		text-align: left;
		margin-bottom: 0;
	}
}

.kids__free__lesson__link {
	display: block;
	position: relative;
	width: 100%;
	max-width: 90px;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	line-height: 1em;
	color: #fff;
	border-bottom: 1px dotted #fff;
	&::before {
		content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    top: 5px;
    right: -15px;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-left: auto;
		margin-right: 0;
	}
}
h2.category__header {
	width: 100%;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 30px;
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 30px;
	@media screen and (min-width: $desktop) {
		margin-bottom: 50px;
	}
}
.kids__learn__advantages__block {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	margin-bottom: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
		align-items: stretch;
	}
}
.kids__learn__advantages__item {
	width: 100%;
	position: relative;
	max-width: 470px;
	margin-bottom: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	overflow: hidden;
	@media screen and (min-width: $mobile-sm) {
		padding: 25px 20px 30px 60px;
	}
	@media screen and (min-width: $landscape-lg) {
		padding-left: 80px;
		min-height: 150px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 88px;
		height: 88px;
		border-radius: 50%;
		background-color: transparent;
		border: 20px solid #d4d4d4;
		top: -30px;
		left: -30px;
	}
	&::after {
		content: '';
		position: absolute;
		width: 20px;
		height: 10px;
		border-left: 3px solid $main-color;
		border-bottom: 3px solid $main-color;
		transform: rotate(-45deg);
		top: 10px;
		left: 7px;
	}
}
.kids__learn__advantages__text__block {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	margin-bottom: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
	}
}
.kids__learn__advantages__text__item {
	width: 100%;
	position: relative;
	max-width: 470px;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	p {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 24px;
		color: #000;
	}
}
.kids__learn__results__block {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	margin-bottom: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
	}
	p {
		width: 100%;
		text-align: center;
		font-size: 16px;
		line-height: 24px;
		color: #333;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	a {
		color: $main-color;
		text-decoration: none;
	}
}
.kids__learn__results__item {
	width: 100%;
	position: relative;
	max-width: 470px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
	}
}
.kids__learn__results__item__icon {
	width: 125px;
	height: 125px;
	margin-bottom: 15px;
	border-radius: 50%;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: $landscape-sm) {
		margin-bottom: 0;
	}
	img {
		width: 100%;
		max-width: 80px;
	}
}
.kids__learn__results__item__text {
	width: 100%;
	max-width: 290px;
	font-size: 16px;
	line-height: 24px;
	color: #000;
}
.kids__course__price__wrap {
	width: 100%;
	padding: 50px 0;
	background-color: #f8f8f8;
}

.kids__course__price__block {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.kids__course__price__item {
	width: 100%;
	max-width: 570px;
	margin-bottom: 25px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		margin-bottom: 0;
	}
}
.kids__course__price__left {
	width: 320px;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	@media screen and (min-width: $mobile-sm) {
		width: 100%;
		background-color: $main-color;
		border-radius: 10px;
	}
	@media screen and (min-width: $landscape-sm) {
		width: 320px;
		background-color: transparent;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 40px;
		border-radius: 10px 0px 0px 10px;
		background-image: url(../img/price-language-bg.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.kids__course__price__language {
	width: 100%;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 1em;
	color: #fff;
	font-weight: normal;
}
.kids__course__price__city {
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Merriweather', serif;
	font-size: 24px;
	line-height: 1em;
	color: #fff;
	font-weight: bold;
}
.kids__course__price__right {
	width: 250px;
	position: relative;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	@media screen and (min-width: $mobile-sm) {
		width: 100%;
		background-position: center left;
		border-radius: 10px;
	}
	@media screen and (min-width: $landscape-sm) {
		width: 250px;
	}
}
.kids__course__price__text {
	width: 100%;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	line-height: 30px;
	color: #000;
	margin-top: auto;
	margin-bottom: auto;
	strong {
		display: block;
		font-size: 30px;
	}
}
.education__steps__wrap {
	width: 100%;
	position: relative;
	padding: 50px 0;
	@media screen and (min-width: $desktop) {
			&::before {
			content: '';
			position: absolute;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			border: 30px solid $main-color;
			box-shadow: -14px 14px 20px 0px rgba(0, 0, 0, 0.3);
			top: -80px;
    	right: -80px;
		}
		&::after {
			content: '';
			position: absolute;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 13px solid $main-color;
			box-shadow: -14px 14px 30px 0px rgba(0, 0, 0, 0.3);
			bottom: 150px;
			left: -50px;
		}
	}
}
.education__steps__block {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	margin-bottom: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
	}
}
.education__steps__item {
	width: 100%;
	position: relative;
	max-width: 470px;
	margin-bottom: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
	}
}
.education__steps__item__icon {
	width: 125px;
	height: 125px;
	margin-bottom: 15px;
	border-radius: 50%;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: $landscape-sm) {
		margin-bottom: 0;
	}
	img {
		width: 100%;
		max-width: 80px;
	}
}
.education__steps__item__text {
	width: 100%;
	max-width: 290px;
	font-size: 16px;
	line-height: 24px;
	color: #000;
}
.methodology__block__wrap {
	width: 100%;
	padding: 60px 0;
	background-color: #ceced0;
	@media screen and (min-width: $landscape-lg) {
		background-position: center;
		background-image: url(../img/methodology-bg.jpg);
		background-position: center;
		background-size: cover;
	}
}
.methodology__block {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	@media screen and (min-width: $landscape-lg) {
		margin-left: 50%;
	}
	@media screen and (min-width: $desktop) {
		margin-left: 60%;
	}
	.category__header {
		text-align: left;
		margin-bottom: 40px;
	}
	&__text {
		width: 100%;
		font-size: 16px;
		line-height: 26px;
		color: #333;
	}
}

.departure__programm__wrap {
	width: 100%;
	padding: 35px 0;
	background-color: #f8f8f8;
	@media screen and (min-width: $landscape-lg) {
		padding: 70px 0;
	}
}
.departure__programm__block {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		justify-content: flex-start;
	}
}
.departure__programm__image {
	width: 100%;
	margin-bottom: 50px;
	line-height: 0;
	box-shadow: -18px 18px 25px 0px rgba(27, 31, 49, 0.43);
	@media screen and (min-width: $landscape-lg) {
		max-width: 425px;
		margin-right: 50px;
		margin-bottom: 0;
	}
	img {
		width: 100%;
	}
}
.departure__programm__text {
	width: 100%;
	@media screen and (min-width: $landscape-lg) {
		max-width: 510px;
		margin-right: 50px;
	}
}
.departure__programm__header {
	width: 100%;
	margin-bottom: 25px;
	font-family: 'Merriweather', serif;
	font-size: 26px;
	line-height: 34px;
	color: #333;
	font-weight: bold;
}
.departure__programm__content {
	width: 100%;
	font-size: 16px;
	line-height: 26px;
	color: #333;
}
.departure__programm__steps__wrap {
	width: 100%;
	position: relative;
	padding: 35px 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(21, 21, 21, 0.9);
		top: 0;
		left: 0;
		z-index: -1;
	}
	@media screen and (min-width: $landscape-lg) {
		padding: 70px 0;
	}
	.container {
		z-index: 2;
	}
	.category__header {
		color: #fff;
	}
}
.departure__programm__steps__prev__text {
	width: 100%;
	max-width: 780px;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
}

.departure__programm__steps__block {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		justify-content: flex-start;
	}
}
.departure__programm__steps__item {
	width: 100%;
	max-width: 350px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-bottom: 20px;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
		margin-right: 35px;
		justify-content: space-between;
	}
}
.departure__programm__steps__icon {
	width: 86px;
	height: 86px;
	margin-bottom: 20px;
	border-radius: 50%;
	border: 20px solid #fff;
	@media screen and (min-width: $landscape-sm) {
		margin-bottom: 0;
	}
}
.departure__programm__steps__text {
	width: 100%;
	max-width: 240px;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
}
.textbook__block__wrap {
	width: 100%;
	padding: 35px 0;
	background-color: #f9f9f9;
	@media screen and (min-width: $landscape-lg) {
		padding: 70px 0;
	}
}
.textbook__block {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		justify-content: flex-start;
	}
}
.textbook__block__item {
	width: 100%;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 570px;
	padding: 20px;
	margin-bottom: 40px;
	background-color: #fff;
	border-radius: 10px;
	@media screen and (min-width: $desktop) {
		padding-bottom: 0;
		margin-bottom: 0;
		margin-right: 30px;
		justify-content: flex-start;
		flex-wrap: nowrap;
		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}
.textbook__block__item__image {
	width: 100%;
	max-width: 290px;
	text-align: center;
	margin-bottom: 20px;
	img {
		width: 100%;
	}
	@media screen and (min-width: $desktop) {
		margin-top: -80px;
		margin-bottom: 0;
	}
}
.textbook__block__item__descr {
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	@media screen and (min-width: $desktop) {
		max-width: 250px;
	}
}