$mobile-sm: 320px;
$mobile: 360px;
$landscape-sm: 768px;
$landscape-lg: 1000px;
$desktop: 1200px;
$desktop-hd: 1920px;
$main-color: #c00808;
$main-hover: #ad0101;

@import "index";
@import "category";
@import "kids-pages";

/*Custom circles for pages*/
.--little-cirle-service-block {
  display: none;
    @media screen and (min-width: $landscape-sm) {
      display: block;
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 20px solid $main-color;
      box-shadow: -9px 9px 15px 0px rgba(0, 0, 0, 0.2); 
      top: 180px;
      right: -150px;
      animation: round-infinite 4.50s linear infinite both;
    }
}
.--little-black-cirle-service-block {
  display: none;
    @media screen and (min-width: $landscape-sm) {
      display: block;
        &::before {
          content: '';
          position: absolute;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 10px solid #333333; 
          bottom: 40px;
          right: -360px;
          animation: round-infinite 4.50s linear infinite both;
        } 
    }
}
.learn__russia__block {
  @media screen and (min-width: $desktop) {
    &::before {
      content: '';
      position: absolute;
      width: 320px;
      height: 320px;
      border-radius: 50%;
      border: 45px solid $main-color;
      background-color: transparent;
      z-index: -1;
      top: -150px;
      left: -170px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 37px solid #333333;
      background-color: transparent;
      z-index: 2;
      top: -60px;
      right: 150px;
    }
  }
}
.discounts__block__wrap {
  position: relative;
  @media screen and (min-width: $desktop) {
    &::before {
      content: '';
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 30px solid $main-color;
      box-shadow: -14px 14px 30px 0px rgba(0, 0, 0, 0.3);
      background-color: transparent;
      z-index: 2;
      top: -80px;
      right: -75px;
      animation: round-infinite 7.50s linear infinite both;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 15px solid $main-color;
      background-color: transparent;
      box-shadow: -14px 14px 30px 0px rgba(0, 0, 0, 0.3);
      z-index: 2;
      bottom: -50px;
      left: 100px;
      animation: round-infinite 5.90s linear infinite both;
    }
  }
}

.bottom__request__form__wrap {
  @media screen and (min-width: $desktop) {
    &::before {
      content: '';
      position: absolute;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 20px solid $main-color;
      box-shadow: -14px 14px 30px 0px rgba(0, 0, 0, 0.3);
      background-color: transparent;
      z-index: 2;
      top: -45px;
      right: 200px;
      animation: round-infinite 7.50s linear infinite both;
    }
  }
}

 @keyframes round-infinite {
  0% {
    transform: rotate(180deg) translateX(50px);
  }
  100% {
    transform: rotate(540deg) translateX(50px);
  }
}

/*Custom circles for pages END*/